html {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: lightgray;
}

/*
From:
https://www.digitalocean.com/community/tutorials/how-to-change-a-css-background-images-opacity
*/
.globalBackground {
    position: relative;
}

.globalBackgroundImg {
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.globalBackgroundContent {
    position: relative;
}

h1 {
    font-size: 2.5rem;
}

sub {
    font-size: 1rem;
    font-style: italic;
}

li {
    list-style-type: none;
}

/*
From:
https://stackoverflow.com/questions/46802769/style-bullet-list-with-arrows
*/
li::before {
    content: '→ ';
}

.headerDiv {
    background-color: darkgray;
}